@font-face {
    font-family: "vazir";
    src: url("../Public/Fonts/Vazir.woff2") format("woff2");
    font-display: swap;
}
a{text-decoration: none;}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "vazir", sans-serif;
  background-color: #eded4c;
}
.header_contianer {
  max-width: 250px;
      margin: 0 auto;
}
.header_contianer > img {
  width: 100%;
  height: 100%;
}
.main_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
}
.main_buttons > a {
  font-family: "vazir";
  width: 80%;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  max-width: 230px;
  border: 2px solid;
  text-align: center;
}
